.app-active {
  background-color: white !important;
  color: black !important;
  /* -webkit-box-shadow: 0 0 0 6px #fff inset !important;
  box-shadow: 0 0 0 100px #fff inset !important; */
}

.ui .button .active {
  background-color: white !important;
  color: black !important;
}
