.quiz-page .start {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 21rem;
}

.quiz-page .arena .start-button {
  height: min-content;
}
.arena {
  display: grid;
  justify-content: center;
  align-content: center;
}

.quiz-options-grid-1 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-content: center;
}

.quiz-options-grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  justify-content: center;
}
.grid-item {
  padding: 20px;
  text-align: center;
  width: fit-content;
}
